[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
simpleeval = "*"
pandas = "*"
discord-py = "*"
selenium = "*"
pillow = "*"
"bs4" = "*"
requests = "*"
cryptography = "*"
tabula-py = "*"
plotly = "*"
psutil = "*"
chart-studio = "*"

[dev-packages]

[requires]
python_version = "3.7"
