[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
tabula-py = "*"
tabulate = "*"
simpleeval = "*"
pandas = "*"
yapf = "*"
mechanize = "*"
discord-py = "*"
selenium = "*"
emoji = "*"
pillow = "*"
"bs4" = "*"
termcolor = "*"
colorama = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
