[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
simpleeval = "*"
discord-py = "*"
selenium = "*"
pillow = "*"
"bs4" = "*"
requests = "*"
cryptography = "*"
psutil = "*"
pdf2image = "*"
dateparser = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
click = "*"
colorama = "*"
requests-async = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.8"
